$grey-gradient: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(0, 0, 0, 1) 0%,
  rgba(246, 246, 246, 1) 0%,
  rgba(235, 236, 236, 1) 0%,
  rgba(188, 194, 194, 1) 0%,
  rgba(233, 233, 233, 1) 48%,
  rgba(218, 223, 223, 1) 100%
);

$dark-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.3);

.card {
  background: $grey-gradient;
  border-radius: 2rem;
  box-shadow: $dark-box-shadow;
  padding: 0rem 2rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__buttons {
    Button {
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}
