.buttonStandard {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
}

.buttonCircle {
  color: black;
  background-color: white;
  border-radius: 50%;
  border: 0;
}
