.buttonStandard {
  background-color: black;
  color: white;
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  border: 0;
  margin-right: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(63, 62, 62);
  }
}

.buttonCircle {
  color: black;
  background-color: white;
  border-radius: 50%;
  border: 0;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  margin-right: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(237, 235, 235);
  }
}
